/*.form-signin {
    max-width: 330px;
    margin: 0 auto;
}*/

/*html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #002563;
}

.tableContainer {
    display: table;
    position: relative;
    width: 100%;
    height:100%;
    vertical-align: middle;
    table-layout: fixed;
}

.tableContainer div{
    display:table-row;
}

.tableContainer .content {
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 75%;
    background: url(/Images/start.jpg) no-repeat center;
    position: fixed;
    background-size: 100% 100%;
}

.textboxPos {
    position: absolute;
    left: 20%;
    top: 72%;
    z-index: 999;
}

    .textboxPos div {
        width: 600px;
        padding-bottom: 35px;
        clear: both;
        float: left;
    }

    .textboxPos input[type=text], input[type=password] {
        width: 300px;
    }

    .textboxPos p {
        float: left;
        padding-left: 15px;
        color: white !important;
        font-weight: bold;
    }

    .textboxPos button, a {
        clear: both;
        margin-right: 30px;
        width: 80px;
    }*/
