
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/CustomStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="tableContainer" style="height:100%">
        <div style="display:table-row">
            <div class="content">
               
            </div>
        </div>
    </div>
</body>
</html>
