
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/base.css" rel="stylesheet" />
    <link href="~/Content/LoginStyle.css" rel="stylesheet" />
    @*<link href="~/Content/RegisterStyle.css" rel="stylesheet" />*@
</head>
<body ng-app="mainModel">
    <div class="container">
        <div class="row">
            <div ng-view></div>
        </div>
    </div>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/App/startApp.js"></script>
    <script src="~/App/Login/Service/loginService.js"></script>
    <script src="~/App/Login/Controller/loginController.js"></script>
    <script src="~/App/Register/Controller/registerController.js"></script>
</body>
</html>
